/*---------------------------------------------------------------------------------------------
*
*  Basic Field Styles
*
*---------------------------------------------------------------------------------------------*/

.acf-field input[type="text"], 
.acf-field input[type="password"], 
.acf-field input[type="number"], 
.acf-field input[type="search"], 
.acf-field input[type="email"], 
.acf-field input[type="url"], 
.acf-field textarea,
.acf-field select {
    width: 100%;
	padding: 3px 5px;
	resize: none;
	margin: 0;
    box-sizing: border-box;
    
    font-size: 14px;
    line-height: 15px;
}

.acf-field textarea {
	resize: vertical;
	line-height: 1.4em;
}


/*---------------------------------------------------------------------------------------------
*
*  Text
*
*---------------------------------------------------------------------------------------------*/

.acf-input-prepend,
.acf-input-append {
	font-size: 13px;
	line-height: 19px;
	height: 20px;
	
	padding: 3px 7px;
	
	background: #F4F4F4;
	border: #DFDFDF solid 1px;
}

.acf-input-prepend {
	float: left;
	border-right: 0;
	border-radius: 3px 0 0 3px;
}

.acf-input-append {
	float: right;
	border-left: 0;
	border-radius: 0 3px 3px 0;
}

.acf-input-wrap {
	position: relative;
	overflow: hidden;
}

.acf-input-wrap input {
	height: 28px;
	margin: 0;
}

input.acf-is-prepended {
	border-radius: 0 3px 3px 0 !important;
}

input.acf-is-appended {
	border-radius: 3px 0 0 3px !important;
}

input.acf-is-prepended.acf-is-appended {
	border-radius: 0 !important;
}


/*---------------------------------------------------------------------------------------------
*
*  Select
*
*---------------------------------------------------------------------------------------------*/

.acf-field select {
	padding: 2px;
}

.acf-field select optgroup {
	padding: 5px;
	background: #fff;
}

.acf-field select option {
	padding: 3px;
}

.acf-field select optgroup option {
	padding-left: 5px;
}

.acf-field select optgroup:nth-child(2n) {
    background: #F9F9F9;
}


/*---------------------------------------------------------------------------------------------
*
*  Radio
*
*---------------------------------------------------------------------------------------------*/

ul.acf-radio-list,
ul.acf-checkbox-list {
	background: transparent !important;
	position: relative;
	padding: 1px;
	margin: 0;
}

ul.acf-radio-list li,
ul.acf-checkbox-list li {
	font-size: 13px;
	line-height: 1.4em;
	margin: 0;
	clear: both;
}

ul.acf-hl.acf-radio-list li,
ul.acf-hl.acf-checkbox-list li {
	margin-right: 20px;
	clear: none;
}

ul.acf-radio-list li input,
ul.acf-checkbox-list li input {
	margin: -1px 4px 0 0;
	width: auto !important;
	vertical-align: middle;
}

ul.acf-radio-list li label,
ul.acf-checkbox-list li label {
	padding: 3px 0;
	display: block;
	float: left;
}

ul.acf-radio-list.pill {
	overflow: hidden;
}

ul.acf-radio-list.pill li {
	float: left;
}

ul.acf-radio-list.pill li label {
	display: block;
	overflow: hidden;
	position: relative;
	
	border-radius: 0;
	padding: 4px 10px;
    cursor: pointer;
	
    color: #333;
    font-weight: normal;
    text-align: center;
	
	background: #F9F9F9;
	border: #E1E1E1 solid 1px;
}

ul.acf-radio-list.pill li label:hover {
	color: #333;
	border-color: #999;
	z-index: 1;
}

ul.acf-radio-list.pill li.active label {
	background: #3595BC;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#46AFDB), to(#3199C5)); /* Safari 4+, Chrome */
	background-image: -webkit-linear-gradient(top, #46AFDB, #3199C5); /* Chrome 10+, Safari 5.1+, iOS 5+ */
	background-image:    -moz-linear-gradient(top, #46AFDB, #3199C5); /* Firefox 3.6-15 */
	background-image:      -o-linear-gradient(top, #46AFDB, #3199C5); /* Opera 11.10+ */
	background-image:         linear-gradient(to bottom, #46AFDB, #3199C5); /* Firefox 16+ */
	
	z-index: 1;
	color: #fff;
	border: #268FBB solid 1px;
	text-shadow: #268FBB 0 1px 0;
	box-shadow: inset #5FC8F4 0 1px 0 0;
}

ul.acf-radio-list.pill li:first-child label {
	border-radius: 5px 0 0 5px;
}

ul.acf-radio-list.pill li:last-child label {
	border-radius: 0 5px 5px 0;
}

ul.acf-radio-list.pill li + li label {
	margin-left: -1px;
}

/*
ul.acf-radio-list.pill li label input {
	margin: 0 0 0 -999px;
	position: absolute;
}
*/


/*--------------------------------------------------------------------------
*
*	Google Map
*	
*-------------------------------------------------------------------------*/

.acf-google-map {
	position: relative;
	border: #DFDFDF solid 1px;
	background: #fff;
}

.acf-google-map .title {
	position: relative;
	border-bottom: #DFDFDF solid 1px;
}

.acf-google-map .has-value { display: none; }
.acf-google-map .no-value { display: block; }

.acf-google-map.active .has-value { display: block; }
.acf-google-map.active .no-value { display: none; }

.acf-google-map .title h4,
.acf-google-map .title input[type="text"] {
	margin: 0;
	font-size: 12px;
	line-height: 16px;
	padding: 10px;
	border: 0 none;
	box-shadow: none;
	border-radius: 0;
	font-family: inherit;
	cursor: text;
}

.acf-google-map .title input[type="text"] {
	height: 36px;
	line-height: normal;
}

.acf-google-map .title .search {
	height: auto;
	border: 0 none;
}

.acf-google-map .acf-sprite-delete,
.acf-google-map .acf-sprite-locate {
	right: 7px;
	top: 7px;
	position: absolute;
	border: 5px solid transparent;
}

.acf-google-map .acf-sprite-delete {
	border: 6px solid transparent;
}

.acf-google-map .canvas {
	height: 400px;
}

.pac-container {
	margin-left: -1px;
	margin-top: -1px;
	padding: 5px 0;
	border-color: #DFDFDF;
}

.pac-container:after {
	display: none;
}

.pac-container .pac-item {
	padding: 5px;
	margin: 0 5px;
}


/*--------------------------------------------------------------------------
*
*	Relationship
*	
*-------------------------------------------------------------------------*/

.acf-relationship {
	
}

.acf-relationship .filters {
	border: #DFDFDF solid 1px;
	background: #fff;
}

.acf-relationship .filters li {
	
}

.acf-relationship .filters li input,
.acf-relationship .filters li select {
	height: 28px;
    line-height: 28px;
	padding: 2px;	
}

.acf-relationship .filters li input {
	border-color: transparent;
	box-shadow: none;
}

.acf-relationship .filters li .inner {
	padding: 7px 7px 7px 0;
	margin: 0;
}

.acf-relationship .filters li:first-child .inner {
	padding-left: 5px;
}

.acf-relationship .filters .filter {
	margin: 0;
	float: none;
}

.acf-relationship .filters .filter:focus,
.acf-relationship .filters .filter:active {
	outline: none;
	box-shadow: none;
}

.acf-relationship .selection {
	border: #DFDFDF solid 1px;
	position: relative;
	margin-top: -1px;
}

.acf-relationship .values,
.acf-relationship .choices {
	width: 50%;
	background: #fff;
	float: left
}

.acf-relationship .choices {
	background: #F9F9F9;
}

.acf-relationship .choices .list {
	border-right: #DFDFDF solid 1px;
	overflow: auto;
}

.acf-relationship .list {
	margin: 0;
	padding: 5px;
	height: 160px;
}

.acf-relationship .list .acf-relationship-label,
.acf-relationship .list .acf-relationship-item,
.acf-relationship .list p {
	padding: 5px 7px;
	margin: 0;
	display: block;
	position: relative;
}

.acf-relationship .list ul {
	padding-bottom: 5px;
}

.acf-relationship .list ul .acf-relationship-item{
	padding-left: 20px;
}

.acf-relationship .list .acf-relationship-label {
	font-weight: bold;
}

.acf-relationship .list .acf-relationship-item {
	color: #333;
	cursor: pointer;
}

.acf-relationship .values .list .acf-relationship-item {
	cursor: move;
}

.acf-relationship .list .acf-relationship-item .match {
	text-decoration: underline;
}

.acf-relationship .list .acf-relationship-item .thumbnail {
	background: #DFDFDF;
	width: 17px;
	height: 17px;
	float: left;
	margin: 0 5px 0 0;
}

.acf-relationship .choices .list .acf-relationship-item:hover {
	background: #3875D7;
	color: #fff;
}

.acf-relationship .values .list .acf-relationship-item:hover {
	background: #EAF2FA;
}

.acf-relationship .values .acf-icon {
	position: absolute;
	top: 1px;
	right: 4px;
	display: none;
}

.acf-relationship .values .acf-relationship-item:hover .acf-icon {
	display: block;
}


/* disabled */
.acf-relationship .list .acf-relationship-item.disabled {
	opacity: 0.5;
}

.acf-relationship .list .acf-relationship-item.disabled:hover {
	opacity: 0.5;
	background: transparent;
	color: #333;
	cursor: default;
}


/*--------------------------------------------------------------------------
*
*	WYSIWYG
*	
*-------------------------------------------------------------------------*/

.acf-wysiwyg-wrap {
	
}

/*
.acf-wysiwyg-wrap .wp_themeSkin table.mceToolbarRow1 {
    margin-top: 2px !important;
}
*/

.acf-wysiwyg-wrap iframe{ 
	min-height: 250px;
}

/*
#post-body .acf-wysiwyg-wrap .wp_themeSkin .mceStatusbar a.mceResize {
	top: -2px !important;
}
*/

/*
.acf-wysiwyg-wrap .wp-editor-container {
	background: #fff;
	border-color: #CCCCCC #CCCCCC #DFDFDF;
    border-style: solid;
    border-radius: 3px 3px 0 0;
    border-width: 1px;
}
*/

#mce_fullscreen_container {
	z-index: 150005 !important;
}


/*---------------------------------------------------------------------------------------------
*
*	Tab
*
*---------------------------------------------------------------------------------------------*/

.acf-field.field_type-tab {
	display: none !important;
}

.acf-tab-group {
	background: transparent;
	border-bottom: #CCCCCC solid 1px;
	margin: 0 0 10px;
	padding: 10px 2px 0 0;
}

.acf-tab-group li {
	font-family: "Open Sans",sans-serif;
	font-size: 23px;
    line-height: 29px;
    margin: 0 8px 0 0;
    
}

.acf-tab-group li a {
	padding: 6px 10px;
	display: block;
	
	color: #555555;
	font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    
    border: #CCCCCC solid 1px;
    border-bottom: 0 none;
    text-decoration: none;
    background: #E4E4E4;
    
}

.acf-tab-group li a:hover, 
.acf-tab-group li.active a {
    background: #FFFFFF;
    outline: none;
}

.acf-tab-group li.active a {
	background: #F1F1F1;
	color: #000;
	border-color: #CCCCCC;
    border-bottom-color: #F7F7F7;
    padding-bottom: 7px;
    margin-bottom: -1px;
}

.acf_postbox > .inside > .field_type-tab + .field {
	border-top: 0 none;
}

.hidden_by_tab {
	display: none;
}


/*
*  Box
*/

.acf-postbox.default .acf-tab-group {
	padding-left: 10px;
	border-bottom-color: #E8E8E8;
}

.acf-postbox.default .acf-tab-group li a {
    background: #F1F1F1;
}

.acf-postbox.default .acf-tab-group li.active a {
	background: #FFFFFF;
}


/*--------------------------------------------------------------------------------------------
*
*	oembed
*
*--------------------------------------------------------------------------------------------*/

.acf-oembed {
	position: relative;
	border: #DFDFDF solid 1px;
	background: #fff;
}

.acf-oembed .title {
	position: relative;
	border-bottom: #DFDFDF solid 1px;
}

.acf-oembed .title h4,
.acf-oembed .title input[type="text"] {
	margin: 0;
	font-size: 12px;
	line-height: 16px;
	padding: 10px;
	border: 0 none;
	box-shadow: none;
	border-radius: 0;
	font-family: inherit;
	cursor: text;
}

.acf-oembed .title input[type="text"] {
	height: 36px;
	line-height: normal;
}

.acf-oembed .title .search {
	height: auto;
	border: 0 none;
}

.acf-oembed .title .acf-icon {
	right: 7px;
	top: 6px;
	position: absolute;
}

.acf-oembed .canvas {
	position: relative;
	min-height: 250px;
	background: #F9F9F9;
}

.acf-oembed.has-value .canvas {
	min-height: 0;
}

.acf-oembed .canvas-media {
	position: relative;
	z-index: 1;
}

.acf-oembed .canvas iframe {
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
}

.acf-oembed .canvas .acf-sprite-media {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -18px 0 0 -18px;
	z-index: 0;
}

.acf-oembed .canvas-loading {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
	
	background: rgba(255,255,255,0.9);
	display: none;
	z-index: 2;
}

.acf-oembed .canvas-loading .acf-loading {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -10px 0 0 -10px;
}

.acf-oembed .canvas-error {
	position: absolute;
	top: 50%;
	left: 0%;
	right: 0%;
	margin: -9px 0 0 0;
	text-align: center;
	display: none;
}

.acf-oembed .canvas-error p {
	background: #FFEBE8;
	border: #CC0000 solid 1px;
	border-radius: 2px;
	padding: 8px;
	color: #BB4444;
	margin: 0;
	display: inline;
}

/* states */
.acf-oembed .title-value { display: none; }
.acf-oembed .title-search { display: block; }

.acf-oembed.has-value .title-value { display: block; }
.acf-oembed.has-value .title-search { display: none; }
.acf-oembed.has-value .canvas .acf-sprite-media { display: none; }

.acf-oembed.is-editing .title-value { display: none; }
.acf-oembed.is-editing .title-search { display: block; }

.acf-oembed.is-loading .canvas-loading { display: block; }
.acf-oembed.is-loading .title .acf-icon { display: none; }

.acf-oembed.has-error .canvas-error { display: block; }
.acf-oembed.has-error .canvas .acf-sprite-media { display: none; }


/*--------------------------------------------------------------------------------------------
*
*	Image
*
*--------------------------------------------------------------------------------------------*/

.acf-image-uploader {
	position: relative;
}

.acf-image-uploader .view { float: left; position: relative; max-width: 100%; }

.acf-image-uploader img {
	width: 100%;
	height: auto;
	display: block;
	min-width: 30px;
	min-height: 30px;
	background: #f1f1f1;
	margin: 0;
	padding: 0;
}

.acf-image-uploader .no-image p {
	display: block;
	margin: 0 !important;
}

.acf-image-uploader input.button {
	width: auto;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	
	.acf-image-uploader img {
		width: auto;
		max-width: 100%;
	}
	
}


/*
*  Hover
*/

.acf-image-uploader .acf-soh-target {
	position: absolute;
	top: -11px;
	right: -11px;
}

.acf-image-uploader .acf-soh-target li {
	margin: 0 0 2px;
}


/*--------------------------------------------------------------------------------------------
*
*	File
*
*--------------------------------------------------------------------------------------------*/

.acf-file-uploader {
	position: relative;
}

.acf-file-uploader li {
	position: relative;
}

.acf-file-uploader img {
	min-height: 60px;
	min-width: 46px;
	display: block;
	background: #f1f1f1;
	margin: 0 10px 0 0 ;
}

.acf-file-uploader a {
	text-decoration: none;
}

.acf-file-uploader p {
	margin: 0 0 2px;
	font-size: 13px;
	line-height: 1.4em;
}


/*
*  Hover
*/

.acf-file-uploader .acf-soh-target {
	position: absolute;
	top: -6px;
	right: 0;
}

.acf-file-uploader .acf-soh-target li {
	margin: 0 0 2px;
}

